body {
  background-color: #2F6E83;
  color: #E6FFFF;
  font-family: 'Open Sans', sans-serif;
}

.task-header {
  margin-left: 40px;
  margin-top: 20px;
  text-transform: uppercase;
}

.task {
  background-color: #013C4F;
  padding: 20px;
  margin: 0px 40px 0px 40px;
}

.day-header {
  margin: 20px 40px 0px 20px;
  background-color: #677073;
}

.pomodoros-for-day {
  background-color: #016B8E;
  padding: 20px 20px 20px 20px;
  margin: 0px 40px 20px 20px;
}

.new-pomodoro-creation {
  background-color: #013C4F;
  padding: 20px;
}

.two-level-indent {
  background-color: #016B8E;
  padding: 20px;
  margin-bottom: 20px;
}
