.signupBox {
  width: 15em;
  margin: 0 auto;
  text-align: center;
}

.signupBox input {
  margin: .5em auto;
  display: block;
}

.signupBox button {
  width: 7.5em;
  height: 3em;
}

.none {
  display: none;
}

.appBox {
  width: 35em;
  margin: 0 auto;
  text-align: center;
}

.pomodoroBox {
  text-align: center;
}

.pomodoroBox input {
  display: block;
}

.pomodoroBox button {
  margin: 0 auto;
  display: block;
}

.categoryBox ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
